<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Re-Volt Store</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>

    <style>
        td, th {text-align: center;}
        th {background: lightblue;}
        table, th, td {border-style: solid; border-width: thin; border-color: gray}
    </style>
</head>
<body>
    <h1>These are all the cars in our database.</h1>
    <table style="width: 100%;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Thumbnail</th>
            <th>Engine</th>
            <th>Rating</th>
            <th>Speed (mph)</th>
            <th>Acceleration (m/s&#178)</th>
            <th>Mass (kg)</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}" style="color: red; font-weight: bold"></td>
            <td th:text="${car.name}" style="font-style: italic"></td>
            <td><img th:src="@{'/images/cars/' + ${car.thumbnail.image}}" th:alt="${car.thumbnail.image}"/></td>
            <td th:text="${car.engine.type}"></td>
            <td th:text="${car.rating.type}"></td>
            <td th:text="${car.speed}"></td>
            <td th:text="${car.acc}"></td>
            <td th:text="${car.mass}"></td>
        </tr>
    </table>
</body>
</html>