<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script th:src="@{/js/eventHandler.js}"></script>
    <link th:href="@{/css/cars.css}" rel="stylesheet"/>
    <link th:href="@{/css/navigation.css}" rel="stylesheet"/>
    <link th:href="@{/css/wishlist.css}" rel="stylesheet"/>
    <title>Re-Volt Store</title>
</head>
<body>
<div th:replace="fragments/navigation.html :: navigation"></div>

<div class="container">
    <span th:if="${cars.empty}">
        <p class="message">Your Wishlist is empty. &#128532;</p>
    </span>
    <span th:unless="${cars.empty}">
        <table class="main-table">
            <tr class="table-row-header">
                <th>ID</th>
                <th>Thumbnail</th>
                <th>Specifications</th>
                <th>Price</th>
                <th>Cart</th>
                <th>Wishlist</th>
            </tr>
            <tr class="table-row-content" th:each="car : ${cars}">
                    <td class="table-item-id" th:text="${car.id}"></td>
                    <td class="table-item-thumbnail">
                        <img th:src="@{'/images/cars/' + ${car.thumbnail.image}}" th:alt="${car.thumbnail.image}">
                    </td>
                    <td class="table-item-description">
                        <p class="name" th:text="${car.name}"></p>
                        <table>
                            <tr class="engine">
                                <td>Engine type</td>
                                <td th:text="${car.engine.type}"></td>
                            </tr>
                            <tr class="rating">
                                <td>Rating</td>
                                <td th:text="${car.rating.type}"></td>
                            </tr>
                            <tr class="speed">
                                <td>Speed</td>
                                <td th:text="${car.speed} + ' mph'"></td>
                            </tr>
                            <tr class="acc">
                                <td>Acceleration</td>
                                <td th:text="${car.acc} + ' m/s&#178'"></td>
                            </tr>
                            <tr class="mass">
                                <td>Mass</td>
                                <td th:text="${car.mass} + ' kg'"></td>
                            </tr>
                        </table>
                    </td>
                    <td class="table-item-price">
                        <p th:text="'$' + ${car.price ?: '1'}"></p>
                    </td>
                    <td class="table-item-cart">
                        <a th:href="@{#}">Add to Cart</a>
                    </td>
                    <td class="table-item-wishlist">
                        <button th:id="${'button' + car.id}"
                                th:onclick="|handleWishlist('${car.id}')|"
                                th:text="${car.wishlisted ? 'Remove from Wishlist' : 'Add to Wishlist'}">
                        </button>
                    </td>
                </tr>
    </span>
</div>
</body>
</html>